In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)

In [43]:
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [64]:
def filter_animals(df,animal):
    for an in range(1,len(df)):
        if an is df['animal'] :
            print['yes']
#         if animal in df['animal']and df['age']>=3:
#             print(df['animal'])
#         else:
#             print('empty')

In [65]:
filter_animals(df,'cat')

In [26]:
df['age']>=3

a    False
b     True
c    False
d    False
e     True
f    False
g     True
h    False
i     True
j     True
Name: age, dtype: bool

In [67]:

import pandas as pd
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df2 = pd.DataFrame(data, index=labels)

In [104]:

def filter_dataframe(df):
        x =df2.filter(df2.select_dtypes(np.number))
        print(x)
        y = x[x.isnull().any(axis=1)]
        print(y)
        new_df = pd.DataFrame(y)
        return(new_df)
        # print( new_df)

In [105]:
filter_dataframe(df)

   age  visits
a  2.5       1
b  3.0       3
c  0.5       2
d  NaN       3
e  5.0       2
f  2.0       3
g  4.5       1
h  NaN       1
i  7.0       2
j  3.0       1
   age  visits
d  NaN       3
h  NaN       1

   age  visits
d  NaN       3
h  NaN       1

In [108]:
#Create a Dictionary of series
d = {'Name':pd.Series(['Andres','James','David','Vin','Steve','David','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)

In [173]:
x = df['Age'].mean()
x

31.833333333333332

In [199]:
df.dtype()

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [204]:
def compute_statistics(df):
#     x = df['Name'].value_counts().head(1).value
    x = df.loc[df['Name'].value_counts().head(1)]['Name']
    print(x)
    z = df['Age'].mean()
#     print(z)
    t = df['Rating'].quantile(0.75)- df['Rating'].quantile(0.25)
#     print(t)
    tuple_df = (x, z, t)

    print (tuple_df)

# dataframe['name'].value_counts()[:n].index.tolist()

In [205]:

compute_statistics(df)

3    Vin
Name: Name, dtype: object
(3    Vin
Name: Name, dtype: object, 31.833333333333332, 0.9024999999999999)