# Sets

Python’s built-in set type has the following characteristics:

* Sets are unordered.
* Set elements are unique. Duplicate elements are not allowed.
* A set itself may be modified, but the elements contained in the set must be of an immutable type.

a set can be defined with curly braces ({}):

In [4]:
x = set(['foo', 'bar', 'baz', 'foo', 'qux'])
x

{'bar', 'baz', 'foo', 'qux'}

In [5]:
x = set(('foo', 'bar', 'baz', 'foo', 'qux'))
x

{'bar', 'baz', 'foo', 'qux'}

In [7]:
s = 'quux'

list(s)

['q', 'u', 'u', 'x']

In [10]:
set(s)

{'q', 'u', 'x'}

A set can be empty. However, recall that Python interprets empty curly braces ({}) as an empty dictionary, so the only way to define an empty set is with the set()

In [11]:
x = set()
type(x)

set

In [12]:
x

set()

In [13]:
x = {}
type(x)

dict

But lists and dictionaries are mutable, so they can’t be set elements

In [14]:
x = {'foo', 'bar', 'baz'}

len(x)

3

In [15]:
'bar' in x

True

In [16]:
'qux' in x

False

#### Set operations in Python can be performed in two different ways: by operator or by method.

In [18]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

In [19]:
# In Python, set union can be performed with the | operator:
x1 | x2

{'bar', 'baz', 'foo', 'quux', 'qux'}

In [20]:
x1.union(x2)

{'bar', 'baz', 'foo', 'quux', 'qux'}

When you use the | operator, both operands must be sets. The .union() method, on the other hand, will take any iterable as an argument, convert it to a set, and then perform the union.

x1.intersection(x2[, x3 ...])

x1 & x2 [& x3 ...]

In [32]:
# x1.intersection(x2) and x1 & x2 return the set of elements common to both x1 and x2:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

x1.intersection(x2)

{'baz'}

In [22]:
x1 & x2

{'baz'}

In [23]:
a = {1, 2, 3, 4}
b = {2, 3, 4, 5}
c = {3, 4, 5, 6}
d = {4, 5, 6, 7}

a.intersection(b, c, d)

{4}

In [24]:
a & b & c & d

{4}

x1.difference(x2[, x3 ...])

x1 - x2 [- x3 ...]

In [25]:
x1.difference(x2)

{'bar', 'foo'}

In [26]:
x1 - x2

{'bar', 'foo'}

In [28]:
a = {1, 2, 3, 30, 300}
b = {10, 20, 30, 40}
c = {100, 200, 300, 400}

a.difference(b,c)

{1, 2, 3}

In [29]:
a - b - c

{1, 2, 3}

When multiple sets are specified, the operation is performed from left to right. In the example above, a - b is computed first, resulting in {1, 2, 3, 300}. Then c is subtracted from that set, leaving {1, 2, 3}

---

x1.symmetric_difference(x2)

x1 ^ x2 [^ x3 ...]

Compute the symmetric difference between sets.

x1.symmetric_difference(x2) and x1 ^ x2 return the set of all elements in either x1 or x2, but not both:

In [33]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}
x1.symmetric_difference(x2)

{'bar', 'foo', 'quux', 'qux'}

In [34]:
a = {1, 2, 3, 4, 5}
b = {10, 2, 3, 4, 50}
c = {1, 50, 100}
a^b^c

{5, 10, 100}

As with the difference operator, when multiple sets are specified, the operation is performed from left to right

---

x1.isdisjoint(x2)

Determines whether or not two sets have any elements in common.

In [36]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

x1.isdisjoint(x2)

False

In [37]:
x2 - {'baz'}

{'quux', 'qux'}

In [38]:
x1.isdisjoint(x2 - {'baz'})

True

f x1.isdisjoint(x2) is True, then x1 & x2 is the empty set

Note: There is no operator that corresponds to the .isdisjoint() method. 

---

x1.issubset(x2)

x1 <= x2

Determine whether one set is a subset of the other.

In set theory, a set x1 is considered a subset of another set x2 if every element of x1 is in x2.

x1.issubset(x2) and x1 <= x2 return True if x1 is a subset of x2

In [39]:
x1 = {'foo', 'bar', 'baz'}
x1.issubset({'foo', 'bar', 'baz', 'qux', 'quux'})

True

In [40]:
x2 = {'baz', 'qux', 'quux'}
x1 <= x2

False

---

x1 < x2

Determines whether one set is a proper subset of the other.

A proper subset is the same as a subset, except that the sets can’t be identical. A set x1 is considered a proper subset of another set x2 if every element of x1 is in x2, and x1 and x2 are not equal.

x1 < x2 returns True if x1 is a proper subset of x2

In [41]:
x1 = {'foo', 'bar'}
x2 = {'foo', 'bar', 'baz'}
x1 < x2

True

In [42]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'bar', 'baz'}
x1 < x2

False

Note: The < operator is the only way to test whether a set is a proper subset. There is no corresponding method.

---

x1.issuperset(x2)

x1 >= x2

Determine whether one set is a superset of the other.

A superset is the reverse of a subset. A set x1 is considered a superset of another set x2 if x1 contains every element of x2.

x1.issuperset(x2) and x1 >= x2 return True if x1 is a superset of x2:

In [43]:
x1 = {'foo', 'bar', 'baz'}
x1.issuperset({'foo', 'bar'})

True

In [44]:
x2 = {'baz', 'qux', 'quux'}
x1 >= x2

False

---

x1 > x2

Determines whether one set is a proper superset of the other.

A proper superset is the same as a superset, except that the sets can’t be identical. A set x1 is considered a proper superset of another set x2 if x1 contains every element of x2, and x1 and x2 are not equal.

x1 > x2 returns True if x1 is a proper superset of x2:

In [46]:
x2 = {'foo', 'bar'}
x1 > x2

True

In [47]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'bar', 'baz'}
x1 > x2

False

Note: The > operator is the only way to test whether a set is a proper superset. There is no corresponding method.

---

x1.update(x2[, x3 ...])

x1 |= x2 [| x3 ...]

Modify a set by union.

x1.update(x2) and x1 |= x2 add to x1 any elements in x2 that x1 does not already have:

In [48]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'baz', 'qux'}

x1 |= x2
x1

{'bar', 'baz', 'foo', 'qux'}

In [49]:
x1.update(['corge', 'garply'])
x1

{'bar', 'baz', 'corge', 'foo', 'garply', 'qux'}

---

x1.intersection_update(x2[, x3 ...])

x1 &= x2 [& x3 ...]

Modify a set by intersection.

x1.intersection_update(x2) and x1 &= x2 update x1, retaining only elements found in both x1 and x2

In [52]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'baz', 'qux'}

x1 &= x2
x1

{'baz', 'foo'}

In [53]:
x1.intersection_update(['baz', 'qux'])
x1

{'baz'}


---

x1.difference_update(x2[, x3 ...])

x1 -= x2 [| x3 ...]

Modify a set by difference.

x1.difference_update(x2) and x1 -= x2 update x1, removing elements found in x2:

In [55]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'baz', 'qux'}
x1 -= x2
x1

{'bar'}

In [56]:
x1.difference_update(['foo', 'bar', 'qux'])
x1

set()

---

x1.symmetric_difference_update(x2)

x1 ^= x2

Modify a set by symmetric difference.

x1.symmetric_difference_update(x2) and x1 ^= x2 update x1, retaining elements found in either x1 or x2, but not both:

In [57]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'baz', 'qux'}

x1 ^= x2
x1

{'bar', 'qux'}

In [58]:
x1.symmetric_difference_update(['qux', 'corge'])
x1

{'bar', 'corge'}

---

x.add(<elem>)

Adds an element to a set.

x.add(<elem>) adds <elem>, which must be a single immutable object, to x:

In [59]:
x = {'foo', 'bar', 'baz'}

x.add('qux')
x

{'bar', 'baz', 'foo', 'qux'}

---

x.remove(<elem>)

Removes an element from a set.

x.remove(<elem>) removes <elem> from x. Python raises an exception if <elem> is not in x:

In [61]:
x.remove('baz')
x

{'bar', 'foo', 'qux'}

---

x.discard(<elem>)

Removes an element from a set.

x.discard(<elem>) also removes <elem> from x. However, if <elem> is not in x, this method quietly does nothing instead of raising an exception:

In [63]:
x = {'foo', 'bar', 'baz'}

x.discard('baz')
x

{'bar', 'foo'}

In [64]:
x.discard('qux')
x

{'bar', 'foo'}

---


x.pop()

Removes a random element from a set.

x.pop() removes and returns an arbitrarily chosen element from x. If x is empty, x.pop() raises an exception:

In [65]:
x = {'foo', 'bar', 'baz'}

x.pop()

'bar'

In [66]:
x

{'baz', 'foo'}

In [67]:
x.pop()

'baz'

In [68]:
x

{'foo'}

---


x.clear()

Clears a set.

x.clear() removes all elements from x:

In [69]:
x = {'foo', 'bar', 'baz'}
x

{'bar', 'baz', 'foo'}

In [70]:
x.clear()
x

set()

### Frozen Sets
Python provides another built-in type called a frozenset, which is in all respects exactly like a set, except that a frozenset is immutable. You can perform non-modifying operations on a frozenset:

In [71]:
x = frozenset(['foo', 'bar', 'baz'])
x

frozenset({'bar', 'baz', 'foo'})

In [72]:
len(x)

3

In [73]:
x & {'baz', 'qux', 'quux'}

frozenset({'baz'})

In [74]:
x1 = frozenset(['foo'])
x2 = frozenset(['bar'])
x3 = frozenset(['baz'])
x = {x1, x2, x3}
x

{frozenset({'baz'}), frozenset({'foo'}), frozenset({'bar'})}