In [41]:
# %matplotlib inline
import pandas as pd

### Download the data and load it to Pandas. 

You can find them [here](https://drive.google.com/file/d/1NY6cmF9Shjw-dD7BD6bNmfcIVz-kQcFR/view?usp=sharing).

In [2]:
titles = pd.read_csv('data/titles.csv')
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [3]:
cast = pd.read_csv('data/cast.csv', sep=",")
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [8]:
movies_total = titles.title.count()

In [11]:
print(f'The total amount of movies is: {movies_total}')

The total amount of movies is: 232330

### What are the earliest two films listed in the titles dataframe?

In [18]:
two_earlist_movies = titles.sort_values(by='year').tail(2)

In [35]:
x = list(two_earlist_movies.title)
x

['Settling of Score', 'War in Snow']

In [39]:
print(f'The earlist two movies are: {x[0]} and {x[1]}')

The earlist two movies are: Settling of Score and War in Snow

### How many movies have the title "Hamlet"?

In [54]:
movie_hamlet = titles.loc[titles.title == 'Hamlet'].title.count()

In [56]:
print(f'The data has {movie_hamlet} movies withthe title Hamlet')

The data has 18 movies withthe title Hamlet

In [58]:
# hamlet_movies = titles['title'].str.contains('Hamlet') # .str tells pandas that we are g
# titles[hamlet_movies].count()

### How many movies are titled "North by Northwest"?

In [60]:
movie_north_by_nw = titles.loc[titles.title == "North by Northwest"].title.count()
print(f'The data has {movie_north_by_nw} movies with the title North by Northwest')

The data has 1 movies with the title North by Northwest

### When was the first movie titled "Hamlet" made?

In [107]:
first_hamlet = titles.loc[titles.title == 'Hamlet'].sort_values(by='year').head(1)
x = list(first_hamlet.year)

In [108]:
print(f' The first Hamlet movie was released in: {x[0]}')

 The first Hamlet movie was released in: 1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [111]:
all_treasure_island = titles.loc[titles.title == 'Treasure Island'].sort_values(by='year')
all_treasure_island

                  title  year
206027  Treasure Island  1918
51287   Treasure Island  1920
191050  Treasure Island  1934
96934   Treasure Island  1950
89534   Treasure Island  1972
111343  Treasure Island  1973
205397  Treasure Island  1985
179354  Treasure Island  1999

### How many movies were made in the year 1950?

In [120]:
movies_1950 = titles.loc[titles.year == 1950].count()

In [121]:
print(f'The total movies releasedin 1950 are: {movies_1950.title}')

The total movies releasedin 1950 are: 1099

### How many movies were made in the year 1960?

In [122]:
movies_1960 = titles.loc[titles.year == 1960].count()

In [123]:
print(f'The total movies releasedin 1960 are: {movies_1960.title}')

The total movies releasedin 1960 are: 1501

### How many movies were made from 1950 through 1959?

In [130]:
movies_1950_1959 = titles.loc[(titles.year >=1950) & (titles.year < 1960)].count()

In [131]:
print(f'The total movies made from 1950 to 1959 are: {movies_1950_1959.title}')

The total movies made from 1950 to 1959 are: 12711

### In what years has a movie titled "Batman" been released?

In [139]:
movie_batman = titles['title'].str.contains('Batman')
titles[movie_batman].count()

title    28
year     28
dtype: int64

In [142]:
movies_batman_year = titles.loc[titles['title']=='Batman'].year
x = list(movies_batman_year)

[1989, 1943]

In [143]:
print(f'The movies Batman were leased in {x[0]} and {x[1]}')

The movies Batman were leased in 1989 and 1943

### How many roles were there in the movie "Inception"?

In [144]:
roles_inception = cast.loc[cast['title']=='Inception'].character.count()

In [148]:
print(f'The total roles in he Inception movie are {roles_inception}')

The total roles in he Inception movie are 77

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [166]:
roles_inception_no_n = cast.loc[(cast['title']=='Inception') & (cast['n'].isnull())].count()

In [168]:
print(f'The total toles without a ranked values are {roles_inception_no_n.title}')

The total toles without a ranked values are 26

### But how many roles in the movie "Inception" did receive an "n" value?

In [170]:
roles_inception_w_n = cast.loc[(cast['title']=='Inception') & (cast['n']>=1)].count()

In [171]:
print(f'The total roles with n values are {roles_inception_w_n.title}')

The total roles with n values are 51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [173]:
cast_NbN = cast.loc[(cast.title == 'North by Northwest') & (cast.n>=1)].sort_values(by='n')

In [174]:
cast_NbN

,title,year,name,type,character,n
845516,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3382934,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1413409,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3043261,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
345822,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2941468,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1644542,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1236791,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2372617,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1757154,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
646039,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2225858,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
450691,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1463316,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
199768,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1343025,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [175]:
cast_1972_Sleuth = cast.loc[(cast.title == 'Sleuth') & (cast.year == 1972)].sort_values(by='n')

In [176]:
cast_1972_Sleuth

,title,year,name,type,character,n
1654402,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
316652,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
362592,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1421434,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2635708,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1405219,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [177]:
cast_2007_Sleuth = cast.loc[(cast.title == 'Sleuth') & (cast.year == 2007)].sort_values(by='n')

In [178]:
cast_2007_Sleuth

          title  year                 name     type          character    n
316653   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1254632  Sleuth  2007             Jude Law    actor               Milo  2.0
1751872  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
251883   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
362593   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2635707  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3244050  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [184]:
roles_hamlet_1921 = cast.loc[(cast.title == 'Hamlet') & (cast.year == 1921)].character.count()

In [186]:
print(f'The total roles credited in the silent 1921 Hamlet are {roles_hamlet_1921}')

The total roles credited in the silent 1921 Hamlet are 9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [189]:
roles_1996_hamlet = cast.loc[(cast.title=='Hamlet') & (cast.year == 1996)].character.count()

In [191]:
print(f'The total roles credited in  Branagh’s 1996 Hamlet are {roles_1996_hamlet}')

The total roles credited in  Branagh’s 1996 Hamlet are 54

### How many "Hamlet" roles have been listed in all film credits through history?

In [192]:
roles_hamlet = cast.loc[(cast.title=='Hamlet')].character.count()

In [193]:
print(f'The total roles in all Hamlet are {roles_hamlet}')

The total roles in all Hamlet are 313

### How many people have played an "Ophelia"?

In [196]:
ppl_Ophelia  = cast.loc[cast.title == 'Ophelia'].name.count()

In [197]:
print(f'The total people playes an Ophelia are {ppl_Ophelia}')

The total people playes an Ophelia are 2

### How many people have played a role called "The Dude"?

In [203]:
ppl_TheDude = cast.loc[cast.character == 'The Dude'].character.count()

In [204]:
print(f'The total people played role called The dude are {ppl_TheDude}')

The total people played role called The dude are 18

### How many people have played a role called "The Stranger"?

In [205]:
ppl_TheStranger = cast.loc[cast.character == 'The Stranger'].character.count()

In [206]:
print(f'The total people played role called The stranger are {ppl_TheStranger}')

The total people played role called The stranger are 212

### How many roles has Sidney Poitier played throughout his career?

In [207]:
roles_Sidney_Poiter = cast.loc[cast.name == 'Sidney Poitier'].name.count()

In [208]:
print(f'The Sidney Poiter playes  {roles_Sidney_Poiter} roles')

The Sidney Poiter playes  43 roles

### How many roles has Judi Dench played?

In [209]:
roles_Judi = cast.loc[cast.name == 'Judi Dench'].name.count()

In [210]:
print(f'The Judi Dench played  {roles_Judi} roles')

The Judi Dench played  54 roles

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [218]:
roles_Cary_Grant = cast.loc[(cast.name =='Cary Grant') & (cast.n == 2) & (cast.year>=1940) & (cast.year < 1950)].title.count()

In [219]:
print(f' Cary Grant played {roles_Cary_Grant} supporting roles in the 1940s')

 Cary Grant played 2 supporting roles in the 1940s

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [228]:
lead_roles_Cary_Grant = cast.loc[(cast.name =='Cary Grant') & (cast.n == 1) & (cast.year>=1940) & (cast.year < 1950)].sort_values(by='year')

In [229]:
lead_roles_Cary_Grant

,title,year,name,type,character,n
845539,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
845495,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
845541,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
845528,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
845543,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
845519,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
845486,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
845511,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
845512,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
845520,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
845478,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
845515,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
845514,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
845517,Notorious,1946,Cary Grant,actor,Devlin,1.0
845535,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
845536,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
845510,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
845490,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
845499,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [230]:
roles_1950s = cast.loc[(cast.year >= 1950) & (cast.year < 1960) & (cast.type == 'actor')].type.count()

In [231]:
print(f' There were {roles_1950s} roles for actor in the 1950s')

 There were 155058 roles for actor in the 1950s

### How many roles were avilable for actresses in the 1950s?

In [235]:
roles_1950s_fem = cast.loc[(cast.year >= 1950) & (cast.year < 1960) & (cast.type == 'actress')].type.count()

In [236]:
print(f' There were {roles_1950s_fem} roles for actresses in the 1950s')

 There were 56412 roles for actresses in the 1950s

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [242]:
leading_roles_80 = cast.loc[(cast.n == 1) & (cast.year >= 1980)].title.count()

In [243]:
print(f'They were {leading_roles_80} from the beginning of film history through 1980' )

They were 84862 from the beginning of film history through 1980

### How many non-leading roles were available through from the beginning of film history through 1980?

In [253]:
non_roles_80 = cast.loc[(cast.n > 1) & (cast.year >= 1980)].title.count()

In [254]:
print(f'there were {non_roles_80} non-leading roles were available through from the beginning of film history through 1980')

there were 1455366 non-leading roles were available through from the beginning of film history through 1980

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [250]:
non_roles_80 = cast.loc[(cast.n.isnull()) & (cast.year >= 1980)].title.count()

In [251]:
print(f'there were {non_roles_80} non-leading roles were available through from the beginning of film history through 1980')

there were 955504 non-leading roles were available through from the beginning of film history through 1980