In [1]:
import pandas as pd

### Download the data and load it to Pandas. 

You can find them [here](https://drive.google.com/file/d/1NY6cmF9Shjw-dD7BD6bNmfcIVz-kQcFR/view?usp=sharing).

In [4]:
titles = pd.read_csv('data/titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [5]:
cast = pd.read_csv('data/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### What are the ten most common movie names of all time?

In [21]:
# ten_most_movies = titles.groupby('title').count().head()
ten_most_movies = titles.title.value_counts().head(10)

In [33]:
print(f'The ten most common movies name are:\n{ten_most_movies}')

The ten most common movies name are:
Hamlet                  18
Carmen                  16
Macbeth                 15
The Outsider            12
Maya                    12
Temptation              11
The Three Musketeers    11
Othello                 11
Kismet                  11
Freedom                 11
Name: title, dtype: int64

### Which three years in the 1930s saw the most films released?

In [38]:
year_1930_films_release = titles.loc[(titles.year>=1930) & (titles.year <1940)].year.value_counts().head(3)

In [42]:
print(f'tThe 3 years with the most released films in 30s are:\n{year_1930_films_release}')

tThe 3 years with the most released films in 30s are:
1937    1196
1936    1138
1938    1129
Name: year, dtype: int64

### Count the number of films that have been released in each decade over the history of cinema.

In [45]:
number_films_decade = (titles.year // 10 * 10).value_counts()

In [47]:
print(f'The amount of films relased per decade are:\n{number_films_decade}')

The amount of films relased per decade are:
2010    67977
2000    38713
1990    22225
1980    20243
1970    18714
1960    17515
1950    12711
1930    10097
1920     8797
1940     8576
1910     6512
2020      210
1900       37
1890        3
Name: year, dtype: int64

### Count the number of "Hamlet" films made in each decade.

In [61]:
hamlet_decade = (titles.loc[titles.title == 'Hamlet'].year // 10 * 10).value_counts()

In [64]:
print(f' The total movies names Hamlet per decade are:\n{hamlet_decade}')

 The total movies names Hamlet per decade are:
2010    3
1910    3
1970    2
2000    2
1960    2
1990    2
1950    1
1980    1
1940    1
1920    1
Name: year, dtype: int64

### Count the number of "Rustler" characters in each decade of the history of film.

In [77]:
rustler_decade = (cast.loc[cast.character == 'Rustler'].year // 10 * 10).value_counts()

In [78]:
print(f' The total characters nameed Rustler per decade are:\n{rustler_decade}')

 The total characters nameed Rustler per decade are:
1930    84
1940    18
1970     9
1950     8
1920     6
1990     4
2000     2
1960     2
1980     1
Name: year, dtype: int64

### Count the number of "Hamlet" characters in each decade.

In [79]:
Hamlet_character_decade = (cast.loc[cast.character == 'Hamlet'].year // 10 * 10).value_counts()

In [80]:
print(f' The total characters nameed Hamlet per decade are:\n{Hamlet_character_decade}')

 The total characters nameed Hamlet per decade are:
2010    28
2000    19
1990    11
1970     8
1960     7
1910     6
1930     6
1950     3
1980     2
1940     1
1920     1
Name: year, dtype: int64

### What are the 11 most common character names in movie history?

In [94]:
top_11_most_common_character = cast.character.value_counts().head(11)

In [96]:
print(f'The 11 most common character names in movie history are:\n{top_11_most_common_character}')

The 11 most common character names in movie history are:
Himself        19600
Dancer         12096
Extra          10953
Reporter        8154
Doctor          7436
Student         7177
Policeman       6883
Party Guest     6742
Nurse           6676
Bartender       6613
Minor Role      6255
Name: character, dtype: int64

### Who are the 10 people most often credited as "Herself" in film history?

In [107]:
credited_herself = cast.loc[cast.character == 'Herself'].name.value_counts().head(10)

In [108]:
print(f'The 10 people most often credited as "Herself" in film history are:\n{credited_herself}')

The 10 people most often credited as "Herself" in film history are:
Queen Elizabeth II    11
Joyce Brothers         9
Margaret Thatcher      8
Hillary Clinton        7
Mary Jo Pehl           7
Sumie Sakai            6
Joan Rivers            6
Rekha                  5
Caroline Rhea          5
Kareena Kapoor         5
Name: name, dtype: int64

### Who are the 10 people most often credited as "Himself" in film history?

In [110]:
credited_himself = cast.loc[cast.character == 'Himself'].name.value_counts().head(10)

In [112]:
print(f'The 10 people most often credited as "Himself" in film history are:\n{credited_himself}')

The 10 people most often credited as "Himself" in film history are:
Adolf Hitler             100
Richard Nixon             46
Ronald Reagan             39
John F. Kennedy           34
Winston Churchill         24
Benito Mussolini          23
Ron Jeremy                23
George W. Bush            23
Martin Luther King        21
Franklin D. Roosevelt     20
Name: name, dtype: int64

### Which actors or actresses appeared in the most movies in the year 1945?

In [115]:
most_act_1945 = cast.loc[(cast.year == 1945)].name.value_counts().head(1)

In [121]:
print(f'The actor or actresses that appeared in the most movies in the year 1945 is: {most_act_1945.index[0]}')

The actor or actresses that appeared in the most movies in the year 1945 is: Emmett Vogan

### Which actors or actresses appeared in the most movies in the year 1985?

In [122]:
most_act_1985 = cast.loc[(cast.year == 1985)].name.value_counts().head(1)

In [123]:
print(f'The actor or actresses that appeared in the most movies in the year 1945 is: {most_act_1985.index[0]}')

The actor or actresses that appeared in the most movies in the year 1945 is: Mammootty

### How many roles "Mammootty" has played in each year of his career.

In [126]:
roles_mammootty = cast.loc[(cast.name == "Mammootty")].year.value_counts()

In [131]:
print(f'The amount roles "Mammootty" has played in each year of his career are:\n{roles_mammootty}')

The amount roles "Mammootty" has played in each year of his career are:
1985    22
1983    18
1986    18
1984    16
1990    15
2009    12
1989    10
2008     9
1987     9
2010     9
2006     8
2004     8
2007     7
2011     7
1982     7
2012     7
1988     7
2000     7
1991     6
2005     6
2014     6
2015     6
2013     5
1995     5
1994     5
1993     5
1998     4
1999     4
2016     4
1992     3
1996     3
2001     3
2002     3
1981     3
1997     2
1980     2
2003     2
2017     1
1971     1
Name: year, dtype: int64

### What are the 10 most frequent roles that start with the phrase "Patron in"?

In [146]:
start_patron_in = cast[cast.character.str.startswith("Patron in")].character.value_counts().head(10)

In [148]:
print(f'The 10 most frequent roles that start with the phrase "Patron in" are:\n{start_patron_in}')

The 10 most frequent roles that start with the phrase "Patron in" are:
Patron in Frisky Rabbit         16
Patron in the Coffee House       9
Patron in Chinese Restaurant     9
Patron in Billiard Parlor        5
Patron in restaurant             4
Patron in Bar                    4
Patron in Restaurant             3
Patron in Club                   3
Patron in cabaret                3
Patron in Audience               2
Name: character, dtype: int64

### What are the 10 most frequent roles that start with the word "Science"?

In [150]:
start_science = cast[cast.character.str.startswith("Science")].character.value_counts().head(10)

In [151]:
print(f'The 10 most frequent roles that start with the phrase "Science" are:\n{start_science}')

The 10 most frequent roles that start with the phrase "Science" are:
Science Teacher         60
Science Fair Student     9
Science Student          9
Science Fair Judge       6
Science Kid              5
Science Promo Cadet      5
Science Club Member      5
Science Reporter         5
Science                  4
Science teacher          3
Name: character, dtype: int64

### Count number of n-values of the roles that Judi Dench has played over her career.

In [161]:
roles_judi_dench =  cast.loc[(cast.name == 'Judi Dench') & (cast.n > 0)].n.count()

In [163]:
print(f' Judi Dench has played {roles_judi_dench} n-roles in her career.')

 Judi Dench has played 48 n-roles in her career.

### Count number of n-values of Cary Grant's roles through his career.

In [164]:
roles_Cary_Grant = cast.loc[(cast.name == 'Cary Grant') & (cast.n > 0)].n.count()

In [165]:
print(f' Cary Grant has played {roles_Cary_Grant} n-roles in his career.')

 Cary Grant has played 75 n-roles in his career.

### Count number of n-value of the roles that Sidney Poitier has acted over the years.

In [167]:
roles_Sidney_Poiter = cast.loc[(cast.name == 'Sidney Poitier')].n.value_counts()

In [168]:
print(f'The number of n-value of the roles that Sidney Poiter has acted in his carrer are:\n{roles_Sidney_Poiter}')

The number of n-value of the roles that Sidney Poiter has acted in his carrer are:
1.0     21
2.0      8
3.0      6
4.0      3
21.0     1
13.0     1
5.0      1
10.0     1
Name: n, dtype: int64

### How many leading (n=1) roles were available to actors, and how many to actresses, in the 1950s?

In [175]:
leading_actor = cast.loc[(cast.n == 1) & (cast.type == 'actor') & (cast.year >= 1950) & \
                        (cast.year > 1960)].type.count()
leading_actresses = cast.loc[(cast.n == 1) & (cast.type == 'actress') & (cast.year >= 1950) & \
                        (cast.year > 1960)].type.count()

In [176]:
print(f'in the 1950s there were {leading_actor} actor leading roles and {leading_actresses} actresses')

in the 1950s there were 76398 actor leading roles and 31480 actresses

### How many supporting (n=2) roles were available to actors, and how many to actresses, in the 1950s?

In [177]:
support_roles_1950s = cast.loc[(cast.n == 1) & (cast.year >= 1950) & (cast.year > 1960)].type.count()

In [178]:
print(f'There were {support_roles_1950s} supporting roles in 1950s')

There were 107878 supporting roles in 1950s